<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :profile_title %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :profile_id %>
  </div>

  <div class="field">
    <%= form.label :firstPriority %>
    <%= form.text_field :firstPriority, id: :profile_firstPriority %>
  </div>

  <div class="field">
    <%= form.label :secondPriority %>
    <%= form.text_field :secondPriority, id: :profile_secondPriority %>
  </div>

  <div class="field">
    <%= form.label :thirdPriority %>
    <%= form.text_field :thirdPriority, id: :profile_thirdPriority %>
  </div>

  <div class="field">
    <%= form.label :fourthPriority %>
    <%= form.text_field :fourthPriority, id: :profile_fourthPriority %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
