<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Id:</strong>
  <%= @profile.id %>
</p>

<p>
  <strong>Firstpriority:</strong>
  <%= @profile.firstPriority %>
</p>

<p>
  <strong>Secondpriority:</strong>
  <%= @profile.secondPriority %>
</p>

<p>
  <strong>Thirdpriority:</strong>
  <%= @profile.thirdPriority %>
</p>

<p>
  <strong>Fourthpriority:</strong>
  <%= @profile.fourthPriority %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
